@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Steven ASP site</h1>
    <p>LearnAlpine Ski House is the premier ski hill in Northeast</p>
</div>
